/*Determinación del div del index.xhtml*/
#principal {
    width: 960px;
    height: 640px;
    margin-top: 30px;
    margin-left: auto;
    margin-right:auto;
    border: 1px solid #87CEFA;
    border-radius: 25px;
}

#cuadrado {
    margin-left: 120px;
    margin-right: 100px;
    margin-top: 50px;
    
}

